@import "../assets/bootstrap.min.css" all;

.theme-dark {
	--main-color: white;
	--background-color: #222;
	--header-color: white;
	--header-background-color: #333;
	--header-border-color: #c7c7c7;
	--section-background-color: #222;
	--footer-background-color: #333;
	--footer-border-color: #c7c7c7;
	--footer-color: white;
}

.theme-light {
	--main-color: black;
	--background-color: white;
	--header-color: #333;
	--header-background-color: #f3f3f3;
	--section-background-color: #e4e4e4;
	--header-border-color: #c7c7c7;
	--footer-background-color: #e4e4e4;
	--footer-border-color: #c7c7c7;
	--footer-color: black;
}

body {
	background-color: var(--background-color);
	font-family: 'Montserrat', sans-serif;
	color: var(--main-color);
}

.header {
	color: var(--header-color);
	background-color: var(--header-background-color);
	border-bottom: 1px solid var(--header-border-color);
	padding-bottom: 10px;
}

.section {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
	border: 1px solid var(--footer-border-color);
	background-color: var(--header-background-color);
	color: var(--header-color);
}

.section a:link {
	color: #7298da;
}

.section a:visited {
	color: #7298da;
}

.title {
	margin-top: 10px;
	text-align: center;
}

.footer {
	border-right: 1px solid var(--footer-border-color);
	border-top: 1px solid var(--footer-border-color);
	color: var(--footer-color);
	background-color: var(--header-background-color);
	position: fixed;
	margin-top: 30px;
   	left: 0px;
   	bottom: 0px;
}